.message{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.message-search{
    background-color: rgb(255, 255, 255);
    height: 12%;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.message-search p{
    font-weight: 700;font-size: 27px;
    padding: 0;margin: 0;
    color: rgb(54, 96, 234);
}
.message-search-div{
    display: flex;gap: 5px;
}
.message-add-icon , .message-search-icon{
    background-color: rgb(241, 237, 237);
   font-size: 28px;padding: 5px;
   border-radius: 7px; 
}
.message-add-icon:hover{
    scale: 1.1;cursor: pointer;
}
.message-box{
    background-color: white;
    height: 88%;
    border-radius: 3px;
    padding: 20px;
    overflow: scroll;
}

.add-friend{
    display: flex;
    justify-content: center;gap: 10px;
    align-items: center;width: 50vw;
}
.add-friend-container {
    width: 100vw;
    height: 100vh;display: flex;flex-direction: column;
    padding: 50px;align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.search {
    font-size: 25px;
    transition: transform 0.2s; /* Optional: smooth transition for scaling */
}

.search:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.add-friend input{
    height: 35px;width: 100%;
    padding: 0 5px 0 5px;
}
.add-friend-cross{
    font-size: 27px;
}
.add-friend-cross:hover{
    cursor: pointer;
    scale: 1.1;
}
.add-friend button{
    border-style: none;
    background-color: rgb(108, 162, 206);color: white;
    padding: 6.5px;border-radius: 10px;font-weight: 500;

}

.search-input{
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.search-results{
    width: 50%;
}