.chat-bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px;
    font-size: 14px;background-color: blue;
    font-family: Arial, sans-serif;
    color: rgb(7, 7, 7);
    display: inline-block;
}

.chat-left {
    background-color: rgb(47, 185, 185);
    color: black;
    text-align: left;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.chat-right {
    background-color: rgb(77, 195, 77);
    text-align: right;
    align-self: flex-end;
    border-top-right-radius: 0;
}
